
<ion-content>
  <ion-slides pager="true">
        <ion-slide class="slide-one">
          <img src="assets/Img/schedule-slide.png" />
          <img src="assets/Img/label-slide-one.png" class="label-slide-one"/>
        </ion-slide>
        <ion-slide class="slide-two">
        <img src="assets/Img/event-slide.png" />
          <img src="assets/Img/label-slide-two.png" class="label-slide-two"/>
        </ion-slide>
        <ion-slide class="slide-three">
          <img src="assets/Img/calendar-slide.png" />
          <img src="assets/Img/label-slide-three.png" class="label-slide-two"/>
        </ion-slide>
        <ion-slide class="slide-four">
          <img src="assets/Img/sidemenu-slide.png" class="sidemenu-img" />
          <img src="assets/Img/label-slide-four.png" class="label-slide-four"/>
          <ion-button color="primary" (click)="Finish()"> Login </ion-button>
        </ion-slide>
      </ion-slides>
</ion-content>
