<ion-header>
  <ion-toolbar >
    <ion-title text-center>Agregar Nuevo Evento</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<form (ngSubmit)="addEvent()" class="form-modal">

    <ion-grid>
      <ion-row class="row-title"> 
        <ion-col>
          <ion-item lines="none">
            <ion-label position="floating" color="tertiary">                  
              <ion-icon name="flag"></ion-icon> 
              Titulo
            </ion-label>
            <ion-input [(ngModel)]="event.Title" name="Title"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid>
      <ion-row>
        <ion-col> 
          <ion-item lines="none">
            <ion-label position="floating" color="tertiary">                   
            <ion-icon name="card-sharp"></ion-icon> Descripcion</ion-label>
            <ion-textarea  rows="5" cols="10"
              [(ngModel)]="event.Text" name="Text">
            </ion-textarea>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row >
        <ion-col>
          <ion-item>
            <ion-label position="floating" color="tertiary">
              Seleccionar Fecha 
              <ion-icon name="calendar-outline"></ion-icon>
            </ion-label>
              <ion-datetime 
                [(ngModel)]="event.Date" name="Date"></ion-datetime>
              </ion-item>        
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label position="floating" color="tertiary">
              Seleccionar Hora
              <ion-icon name="time-outline"></ion-icon>
            </ion-label>
              <ion-datetime display-format="h:mm A" picker-format="h:mm A"
                [(ngModel)]="event.Time" name="Time"></ion-datetime>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>

        <ion-button type="submit" color="success" class="button-success" >
          Agregar
          <ion-icon name="add-circle"></ion-icon>
        </ion-button>

  </form>

</ion-content>


    <ion-button expand="full" size="large" color="dark" (click)="closeModal()">
        Volver
    </ion-button>