  <app-header titulo="Horarios"></app-header>

<ion-content>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content>
    </ion-refresher-content>
  </ion-refresher>

  <ion-grid>
    <ion-row class="ion-row-options">
      <ion-col>
        Nombre del Archivo
      </ion-col>
      <ion-col>
        Archivo
      </ion-col>
      <ion-col>
        Numero de Empleado
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid *ngFor="let item of Horarios">
    <ion-row class="ion-row-data">
      <ion-col>
        <ion-input   
          [(ngModel)]="item.FileName"></ion-input>
      </ion-col>
      <ion-col>
      
  <ion-slides [options]="slideOptions" zoom >
    <ion-slide>
        <img src="{{item.FileUrl}}">
    </ion-slide>
  </ion-slides>
      </ion-col>
      <ion-col>
        <ion-input
          [(ngModel)]="item.Num_employe"></ion-input>
      </ion-col>
    </ion-row>
  </ion-grid>
  

</ion-content>


<ion-footer>

<form (ngSubmit)="updateData()" class="form-modal">
  <ion-grid class="grid-footer">
    <ion-row class="ion-row-footer"  >

      <ion-col>
        <ion-input type="file" accept=".png, .jpg, .pdf"
          (change)="onUpload($event)" ></ion-input>
      </ion-col>
      <ion-col hidden>
        <ion-input type="text"  [(ngModel)]="Horario.FileName" name="FileName" 
          [value]="FileName"></ion-input>
      </ion-col>
      <ion-col hidden> 
        <ion-input  type="text" [(ngModel)]="Horario.Token" name="Token" 
          [value]="FileUrl | async"></ion-input>
      </ion-col>
      <ion-col>
            <ion-input placeholder="Teclee N° Empleado" minlength="4" maxlength="4"
              [(ngModel)]="Horario.Num_employe" name="Num_employe">
            </ion-input>
      </ion-col>   

      <ion-col>
        <ion-button color="primary" class="ion-button-put"
          *ngIf="FileUrl | async; else btnDisabled"
          type="submit" >
          Modificar 
          <ion-icon name="create-outline"></ion-icon>
        </ion-button>
      <ng-template #btnDisabled>
              <ion-button disabled="true" class="ion-button-put"
          type="submit" >
          Modificar
          <ion-icon name="create-outline"></ion-icon>
        </ion-button>
      </ng-template>
      </ion-col>

    </ion-row>
  </ion-grid>
</form>

</ion-footer>