
ion-avatar{
    align-items: flex-end;
    margin-left: 30px;
}

img{
    width: 5rem;
    height: auto;
}

ion-card{
    background: #1da88a;
}

ion-card-subtitle{
    color: #fcfcfc;
    font-size: 20px;
}

ion-label{
    color: #fcfcfc;
}
.col-description{
    position: static;
}