
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Horario</ion-title>
    <img slot="end" class="logn-img" src="assets/Img/LogoNombre_US.png">
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngFor="let item of maestro">

  <ion-slides [options]="slideOptions" zoom >
    <ion-slide>
        <img src="{{item.Schedule.FileUrl}}">
    </ion-slide>
  </ion-slides>

  </ion-content>


  <ion-footer>
    <ion-row>
      <ion-col class="col">
        Jue, Jun 11
      </ion-col>
    </ion-row>
  </ion-footer>