<ion-header>
  <ion-toolbar >
    <ion-title text-center>Registrar nuevo maestro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form (ngSubmit)="addData()" class="form-modal">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item lines="none">
            <ion-input placeholder="Nombre" 
              [(ngModel)]="maestro.Name" name="Name">
            <ion-icon name="person-sharp">
            </ion-icon></ion-input>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item lines="none">
            <ion-input placeholder="Apellido" 
              [(ngModel)]="maestro.Lastname" name="Lastname">
            <ion-icon name="card-sharp"></ion-icon>
            </ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item lines="none">
            <ion-input placeholder=" N° Empleado" minlength="4" maxlength="4"
              [(ngModel)]="maestro.Num_employe" name="Num_employe">
            <ion-icon name="code-working-sharp"></ion-icon>
            </ion-input>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item lines="none">
            <ion-input placeholder="Contraseña" 
              [(ngModel)]="maestro.Passw" name="Passw">
            <ion-icon name="key-sharp"></ion-icon>
            </ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item lines="none">
            <ion-input type="file" accept=".png , .jpg, .pdf"
              [(ngModel)]="File" name="File"  (change)="onUpload($event)">
              <ion-icon name="document-text-outline"></ion-icon>
            </ion-input>
          </ion-item>
          <ion-input hidden type="text" [(ngModel)]="maestro.File_Name" name="File_Name" 
            [value]="FileName"></ion-input>
          <ion-input hidden type="url" [(ngModel)]="maestro.Token" name="Token" 
            [value]="FileUrl | async"></ion-input>
        </ion-col>
      </ion-row>
    </ion-grid>
        <ion-button type="submit" color="success" class="button-success" 
          *ngIf="FileUrl | async; else btnAdd">
          Agregar
        </ion-button>
      <ng-template #btnAdd>
        <ion-button disabled="true" color="success" class="button-success" 
          type="submit" >
          Agregar
        </ion-button>
      </ng-template>
  </form>

</ion-content>


    <ion-button expand="full" size="large" color="dark" (click)="closeModal()">
        Volver
    </ion-button>

