ion-icon{
    font-size: 35px;
}

img{
    width: 10rem;
    height: auto;
}

ion-card{
    background: #1da88a;
}

ion-card-subtitle{
    color: #fcfcfc;
    font-size: 20px;
}

ion-label{
    color: #fcfcfc;
}
.col-description{
    position: static;
}


.col-img{
    text-align: center;
}