  
  <app-header titulo="Maestros"></app-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-row-options">
      <ion-col>
        Numero de Empleado
      </ion-col>
      <ion-col>
        Nombre
      </ion-col>
      <ion-col>
        Apellido
      </ion-col>
      <ion-col>
        Acción
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid *ngFor="let maestro of maestros">
    <ion-row class="ion-row-data">
    <ion-col>
      <ion-input name="Num_employe" [(ngModel)]="maestro.Num_employe"></ion-input>
    </ion-col>
    <ion-col>
      <ion-input [(ngModel)]="maestro.Name"></ion-input>_
    </ion-col>
    <ion-col>
      <ion-input [(ngModel)]="maestro.Lastname"></ion-input>
    </ion-col>
    <ion-col>
      <ion-button color="warning" 
        (click)="deleteData(maestro._id)" (click)="deleteItem(maestro)">
        Eliminar 
        <ion-icon name="trash-outline"></ion-icon>
      </ion-button>
    </ion-col>
    </ion-row>
  </ion-grid>

      <!-- fab placed to the bottom end -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="success" (click)="openNewRegister()">
      <ion-icon name="person-add-sharp"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
